# Visual Studio
.vs/
.vs\
*.user
*.suo

# Build results
bin/
obj/
bin\
obj\
*.dll
*.exe
*.pdb
*.cache

# ASP.NET Core
appsettings*.json
secrets.json

# Node (si usás JS para algo)
node_modules/
node_modules\
# System files
*.DS_Store
Thumbs.db

# Publish output
publish/
wwwroot/dist/
wwwroot/node_modules/

publish\
wwwroot\dist\
wwwroot\node_modules\

# User-specific files
*.swp
*.bak
*.tmp

# dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/
artifacts\
# Others
*.db
*.mdf
*.ldf

# Backup files
*.old
*.orig
*.backup
