@model FrontEnd.Models.FacturaViewModel
@{
    ViewData["Title"] = "Formulario de Factura";
    ViewData["BodyClass"] = "producto-fondo";
}

<style>
    .form-container {
        background-color: rgba(0,0,0,0.7);
        padding: 30px;
        border-radius: 10px;
        color: white;
    }

        .form-container label {
            font-weight: 500;
        }

        .form-container input,
        .form-container select,
        .form-container textarea {
            background-color: #f8f9fa;
            color: black;
        }
</style>


<div class="container my-5 form-container">
    <h2>Datos de la Factura</h2>
    <form asp-action="ConfirmarCompra" asp-controller="Factura" method="post">
        <div class="form-group">
            <label>Método de Pago</label>
            <input type="text" class="form-control" asp-for="MetodoPago" required />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Confirmar Compra</button>
    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}