@model UsuarioViewModel

@{
    ViewData["Title"] = "Registrarse";

}


<style>
    .cuadro-usuario {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 30px;
        border-radius: 12px;
        color: white;
    }

        .cuadro-usuario label,
        .cuadro-usuario h1,
        .cuadro-usuario h4,
        .cuadro-usuario dt {
            color: white;
        }

        .cuadro-usuario .form-control,
        .cuadro-usuario .form-check-input {
            background-color: #f8f9fa;
            color: black;
        }

        .cuadro-usuario hr {
            border-color: #ccc;
        }
</style>

<div class="container my-5 cuadro-usuario">
    <h1>Registrarse</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ViewCrearUsuario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group" hidden>
                    <label asp-for="UsuarioID"></label>
                    <input asp-for="UsuarioID" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Apellido"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Correo"></label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Contrasena"></label>
                    <input asp-for="Contrasena" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RolId" class="control-label"></label>
                    @Html.DropDownListFor(model => model.RolId, new SelectList(Model.listaRoles, "RolId", "NombreRol"), "--Seleccione un Rol--")
                    <span asp-validation-for="RolId" class="text-danger"></span>
                    @* <label asp-for="RolId" class="control-label"></label>
                    <select asp-for="RolId" asp-items="@(new SelectList(Model.listaRoles,"RolId", "NombreRol" ))" class="form-control">
                        <option value="0">--Seleccione un Rol--</option>
                        </select>
                    <span asp-validation-for="RolId" class="text-danger"></span> *@
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                    </label>
                </div>

                <div class="form-group">
                    <label asp-for="Direccion"></label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

                    @Html.ActionLink("Volver al Menu Principal", "Index","Home")
</div>

                    @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
}
